/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and basic typography */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #8FBC8F;
}
/* Sticky Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #027c68;
    padding: 20px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: #2F4F4F;
}

/* Main content */
main {
    padding: 20px;
}

.intro, .portfolio, .contact {
    text-align: center;
}

.intro img, .project img {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

/* Portfolio Styling */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.project {
    /* No need to set width in grid, as grid handles column sizing */
    margin: 0; /* Removed margin as grid will handle spacing with gap */
}

.project img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cccc99;
    border-radius: 5px;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #027c68;
    color: black;
    padding: 20px;
    text-align: center;
}

footer .social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social-media li {
    margin: 0 10px;
}

footer .social-media a {
    color: green;
    text-decoration: none;
}

footer .social-media a:hover {
    color: #ddd;
}

/* Media Queries */
@media (max-width: 768px) {
    .portfolio {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .navbar ul {
        flex-direction: column;
    }
}
